div.cart {
  padding-top: 20px;
}

.cart {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.4rem;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    right: 0;
    top: 60px;
    height: 100%;
    background-color: white;
    min-width: 200px;
    @media screen and (max-width: 700px) {
      position: static;
    }
  }
}
