@import '/src/app/styles/variables.scss';

.label {
  display: inline;
  padding: 2px 7px;
  border-radius: 5px;

  color: white;

  &--discount {
    background-color: map-get($colors, danger);
  }

  &--new {
    background-color: map-get($colors, success);
  }

  &--first_weapon {
    background-color: map-get($colors, secondary-dark);
  }
}
