.products {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  gap: 5px;

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    position: relative;
  }

  & &__search {
    width: 80%;
    position: sticky;
    top: 40px;
    left: 0;
    background-color: white;
    @media screen and (max-width: 700px) {
      flex-direction: column-reverse;
      position: relative;
      top: 0;
    }
  }
}

.panel {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: sticky;
  top: 50px;
  right: 0;

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
    position: relative;
    top: 0;
    box-shadow: none;
  }
}
